<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inteink.modules.biz.mapper.BizLiftingRodMapper">

    <sql id="Base_Column_List">
        rod_id, rod_name, rod_addr, rod_longtitude, rod_offline,
        rod_latitude, rod_remark, rod_state, rod_creator,
        rod_createtime, rod_updatetime, rod_status
    </sql>

    <select id="queryRodPage" resultType="com.inteink.modules.biz.model.entity.BizLiftingRod">
        SELECT <include refid="Base_Column_List"/>
        FROM biz_lifting_rod
        WHERE 1=1
        <if test="form.rodId != null">
            AND rod_id = #{form.rodId}
        </if>
        AND rod_status = 0
        ${form.sqlFilter}
        ORDER BY rod_createtime DESC
    </select>

    <select id="selectValidRodByStrategyId" resultType="com.inteink.modules.biz.model.entity.BizLiftingRod">
        SELECT <include refid="Base_Column_List"/>
        FROM biz_lifting_rod lr
        LEFT JOIN biz_strategy_rod_rel rel ON lr.rod_id = rel.rod_id
        WHERE rel.strategy_id = #{strategyId}
        AND lr.rod_offline = 0
        AND lr.rod_status = 0
    </select>

</mapper>